@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed; 
  display: flex;
  justify-content: center;
}
.leaflet-container  {
  width: 100%;
  height: 100%;
  z-index: 0 !important; 
}

::selection{
  background-color: rgb(139, 240, 161);
}
.loading-circle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-circle {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #7983ff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}
/* Hide scrollbar for Firefox */
.hidden-scrollbar::-moz-scrollbar {
  display: none;
}

/* Hide scrollbar for IE/Edge */
.hidden-scrollbar {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Webkit browsers */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

/* Tailwind Styles */

@layer components {
  .primary_btn {
    @apply rounded-mini  bg-smooth-orange py-3 px-5 text-white transition-all  cursor-pointer leading-3 font-medium;
  }
  .outline_btn {
    @apply rounded-mini  bg-white py-3 px-5 text-smooth-orange transition-all border border-smooth-orange cursor-pointer leading-3 font-medium;
  }
    
}
.disabled {
  @apply bg-slate-400 text-white cursor-not-allowed
  }
.ais-Hits-list{
  @apply flex gap-2 flex-wrap max-w-full
}
.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 ;
}



.head_text {
  @apply mt-5 text-xl font-extrabold leading-[1.15] text-white  sm:text-6xl;
}

.orange_gradient {
  @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.green_gradient {
  @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}

.blue_gradient {
  @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.search_input {
  @apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-satoshi pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

.copy_btn {
  @apply w-7 h-7 rounded-full bg-white/10 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur flex justify-center items-center cursor-pointer;
}

.glassmorphism {
  @apply rounded-xl border border-gray-200 bg-white/20 shadow-[inset_10px_-50px_94px_0_rgb(199,199,199,0.2)] backdrop-blur p-5;
}

.prompt_layout {
  @apply space-y-6 py-8 sm:columns-2 sm:gap-6 xl:columns-3;
}

/* Feed Component */
.feed {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

/* Form Component */
.form_textarea {
  @apply w-full flex rounded-lg h-[200px] mt-2 p-3 text-sm text-slate-900 outline-0;
}

.form_input {
  @apply w-full flex rounded-lg mt-2 p-3 text-sm  text-slate-900 outline-0;
}

/* Nav Component */
.logo_text {
  @apply max-sm:hidden font-satoshi font-semibold text-lg text-slate-800 tracking-wide;
}

.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-semibold;
}

/* PromptCard Component */
.prompt_card {
  @apply flex-1 break-inside-avoid rounded-xl shadow-xl  border  bg-white bg-clip-padding p-6 pb-4 backdrop-blur-lg backdrop-filter md:w-[360px] w-full h-fit;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-start {
  @apply flex justify-start items-start;
}

.flex-end {
  @apply flex justify-end items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* --------------------------Home Page CSS ----------------------------------------(dev by Rohit Pandey) --------- */

.home {

  /* max-height: 40vh; */

  background-image: url("https://www.providenthousing.com/wp-content/uploads/2023/01/hero-banner.webp");
  /* height: 50vh; */

  background-size: cover;
  background-position: top 6% right 0%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;


}

i {
  color: rgb(231, 105, 105);
}

/* Target */
.target {
  margin: 1em 0.3em;
  display: flex;
  /* overflow-x: scroll; */

}

.target ul::-webkit-scrollbar {
  display: none;
}

.target ul {
  overflow: scroll;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  display: flex;
  gap: 1em;
  list-style: none;
  align-items: center;
  inline-size: max-content;

}

.target ul li {
  transition: 0.3s ease-in-out;
  border: 1px solid rgb(233, 105, 105);
  border-radius: 2em;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;

}

.target ul li span {
  inline-size: max-content;

}

.target ul li:hover {
  cursor: pointer;
  transform: scalex(1.1);
  background-color: rgb(255, 160, 160);
  color: white;
}

/* Herro Section */


.home .text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  z-index: 10;

  text-align: center;

}

.home .text h1 {
  font-size: 4rem;
  color: rgb(3, 243, 231);
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.2em;
}

.head-and {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.text-para {
  margin-top: 0;
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-style: normal;

}

.banner-button {
  background-color: rgb(0, 255, 234);
  color: rgb(0, 0, 0);
  border: 0;
  font-weight: 600;
  padding: 1em;
  margin: 0.3em;
}

.text ul {
  display: flex;
  gap: 1em;
  list-style: none;
  padding-left: 0;
  margin: 0.3em;
}

.text ul li {
  background-color: white;
  border-radius: 50%;
  padding: 1em;

}



/* input ssection */
.input-sec {
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin-bottom: 0.9em;
}

.input-sec i {
  padding: 1em;
  border-radius: 0.4em;
  background-color: rgb(240, 81, 81);
  color: white;
  margin: 6px 5px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.input-sec i:hover {
  transform: scale(1.1);
}

.local-input {
  outline: none;
  font-size: 1.1rem;
  width: 17em;
  padding: 1em 0.2em;
  color: gray;
  border: none;
  border-radius: 1em;

}


/* HighLights */
.highlights {
  margin: 0 1em 1em;
}

.highlights h2 {
  font-size: 2rem;
  margin-bottom: 0.7em;
  color: rgb(248, 88, 88);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.high-card {
  overflow: hidden;
  max-width: 20vw;

  min-height: 40vh;
}

.high-card img {
  transition: all 0.3s ease-in-out;
  height: 40vh;

  width: 100%;
}

.high-card img:hover {
  transform: scale(1.1);
  z-index: 200;
}

.high-card-desp {
  padding-left: 1em;
}

.high-card-desp h3 {
  font-size: 1.2em;
  color: #fa5959;
}

.high-card-desp p {
  color: #888888;
}


/* home-lower-middle */
.home-lower-middle h2 {
  padding-left: 1em;
  color: rgb(248, 88, 88);
  font-size: 1.8em;
}

.card-section-homes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.home-card {
  max-width: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid rgb(243, 163, 163);
}

.room-tag {
  position: absolute;
  z-index: 10;
  background-color: rgb(136, 252, 121);
  padding: 0 1em;
  font-size: 1em;
  color: rgb(167, 160, 160);
  margin-left: 1em;

}

.room-img-sec {
  width: 100%;
  background-color: grey;
}

.home-img {
  width: 100%;
  max-height: 13em;
}

.rooms-desp {
  padding: 1em;
}
.room-highness {
  /* border: 1px solid  green; */
  padding: 0.5em;
}

.room-highness span {
  padding: 0.2em;
  border-radius: 0.7em;
  background-color: rgb(103, 250, 103);
}

@media (max-width:490px) {
  .banner-image {
      min-height: 16em;
  }

  .home .text {
      padding: 0.9em 1.5em;
  }

  .home .text h1 {
      font-size: 2.5em;
      margin: 0;
  }

  .text-para {
      font-size: 1em;
  }

  .text ul li {
      padding: 0.7em;
  }

  .input-sec i {
      padding: 0.6em;
      margin: 0.1em;
      border-radius: 0.7em;
  }

  .input-sec {
      padding: 0.2em 1em;
      width: 95%;
  }

  .local-input {
      padding: 0.3em 0.2em;
  }

  .card-section {
      gap: 0.8em;
      overflow-x: scroll;
  }

  .high-card {
      min-width: 40vw;

      min-height: 15em;
  }

  .highlights h2 {
      font-size: 1.5rem;
  }

  .high-card img {
      height: 20vh;
  }

  .high-card-desp h3 {
      font-size: 1em;
  }

  /* home-lower-middle  */
  .home-lower-middle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .home-lower-middle h2 {
      font-size: 1.2rem;
  }

  .home-card {
      max-width: 90vw;
      display: flex;
      flex-direction: column;
      border: 1px black solid;
      height: 25em;
      margin-bottom: 10px;
      border-radius: 1em;

      overflow: hidden;
  }


  .carousel-item img {
      height: 12em;
  }

  .room-tag {
      position: absolute;
      z-index: 10;
      background-color: rgb(136, 252, 121);
      padding: 0 1em;
      font-size: 1em;
      color: rgb(167, 160, 160);
      margin-left: 1em;
  }

  .price-inline {
      display: flex;
      width: 100%;
      justify-content: space-between;


  }

  .rooms-border {
      width: 50%;
      text-align: center;
      border-right: 1px solid #888888;
  }

  .rooms-desp {
      padding: 0 1em;
  }

  .card-section-homes {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .room-highness {
      /* border: 1px solid  green; */
      padding: 0.5em;
  }

  .room-highness span {
      padding: 0.2em;
      border-radius: 0.7em;
      background-color: rgb(103, 250, 103);
  }

  /* easy access */
  .easy-acces{
      text-align: center;
      background: rgb(240, 235, 235);
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      padding: 1em;
  }
  .easy-acces .find-property:last-child{
      border-top: 1px grey solid;
  }
  .easy-acces .find-property button{
      padding:0.3em 1em ;
      border-radius: 0.4em;
      background-color: rgb(100, 98, 98);
      color: white;
  }
  .find-property h5{
      color:rgb(143, 140, 140)
  }
  .find-property div{
      color:rgb(143, 140, 140)
  }

}